/* Media query que cambia estilos con un mínimo de 200px y un máximo de 1000px */
@media (min-width: 200px) and (max-width: 1000px) {
	[class*="col-"] {
		width: 100%;
	}
	.ul-header{
		display: none;
	}
	.fa-bars{
		display: inline-block;
		float: right;
		font-size: 2em;
		position: relative;
		bottom: 1.7em;
		border: 2px solid #848484;
		border-radius: 2%;
		padding: 0.2em 0.3em;
		right: 1em;
		color: #848484;
	}
	#myHeader{
		height: 5em;
	}
	.p-header{
		margin-left: 0;
	}
	#container1{
		height: 30em;
	}
	.title-container1{
		font-size: 5.5em;
    position: absolute;
	}
	.subtitle-container1{
    margin-top: 30px;
		font-size: 6.3em;
	}
  .text1{
    width: 100%;
    margin-left: 1em;
  }
  .text2{
    width: 100%;
    margin-left: 1em;
  }
  .col-4{
    width: 100%;
  }
  .picture1, .picture2, .picture3{
    font-size: 2em;
  }
  #footer{
    height: 6em;
  } 
  .p-footer{
    font-size: 0.75em;
    margin-top: 2em;
  }
}
